@model App.Domain.MapFloor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MapFloor</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FloorName" class="control-label"></label>
                <input asp-for="FloorName" class="form-control"/>
                <span asp-validation-for="FloorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FloorDisplayName" class="control-label"></label>
                <input asp-for="FloorDisplayName" class="form-control"/>
                <span asp-validation-for="FloorDisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapId" class="control-label"></label>
                <select asp-for="MapId" class="form-select" asp-items="ViewBag.MapId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
